body {background-color:rgba(1,128,156,0.1); text-align:center}
p {color:rgb(50,50,50);font-size:100%}
h1 {color:tomato; font-family:verdana;font-size:200%}
blockquote 
{
	border:1px solid green;
	padding: 5px;
	margin: 10px; 
	background-color: DodgerBlue;
	color: Yellow
}

table, th, td
{
	border:1px solid green;
	border-collapse:collapse;
	padding: 5px;
}

table
{
	width: 80%;
	margin: 20px;
}

caption
{
	margin: 10px;
}

thead
{
	color: yellow;
	background-color: #234234;
}

tfoot
{
	color: yellow;
	background-color: tomato;
}

tr:nth-child(even)
{
	background-color:#AAAAAA;
}